<!-- posts_list -->
<section class="posts_list">
    <h3>Архів записів з ярликом {{ tag }}</h3>
    <ul>
        {% for page in pages %}
        <li>
            <span class="date">{{ page.date }}</span>
            <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
            <div class="tags">ярлики: 
            {% if page.meta.tags|length %}
                {% for page_tag in page.meta.tags %}
                <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- /posts_list -->