<!-- post -->
<section class="post">
    <header>
        <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
        {% if page.meta.type=='blog' %}
        <span class="date">Опубликованно {{ page.date }}</span>
        {% endif %}
    </header>
    <article>
       {{ page.html|safe }}
    </article>
    <footer>
        <div class="tags">
            {% if page.meta.tags|length %}
                метки:
                {% for page_tag in page.meta.tags %}
                    <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="comments">
            {% if page.meta.type=='blog' %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'macgeraname'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}
        </div>
        {% if page.googleplus %}
        <div class="g-comments-for {{ page.googleplus }}"></div>
        <script type='text/javascript'>
            var commentr = commentr || {};
            var apiKey = "AIzaSyCtsA1L-p-OILXvgzQo1vlD79TJTOPBiQ0";

            // search for g-comments-for classes
            commentr.go = function() {
                var fetchElements = 
                     document.getElementsByClassName('g-comments-for');
                for(var i=0; i<fetchElements.length; i++) {
                    var activityId = fetchElements[i].classList[1];
                    commentr.fetchComments(activityId);
                }
            }

            // foreach fetch
            commentr.fetchComments = function(activityId) {
                var fetchElement = document.createElement("script");
                fetchElement.src = 'https://www.googleapis.com/plus/v1/activities/' +
                    activityId + '/comments?maxResults=50&?alt=json&pp=1&key=' + apiKey 
                    + '&callback=commentr.praseComments';
                document.body.appendChild(fetchElement);
            }

            // when fetch completes, parse the response and insert the records
            commentr.praseComments = function(resposneJson) {
                if (resposneJson.items.length > 0) {
                    var activity = resposneJson.items[0].inReplyTo[0];
                } 

                var comments = resposneJson.items;
             
                    //find element to insert into
                    var insertionElements = document.getElementsByClassName('g-comments-for ' + '{{ page.googleplus }}');
                    var insertionElement = insertionElements[0];
                    var ComCount = comments.length;

                    var newContents = "";
                    for(i=0; i<comments.length; i++) {
                        var actor = comments[i].actor;
                        var date = comments[i].published.split("T", 1);
                        var commentBody = comments[i].object.content;
                 
                        //do the insertion
                        newContents += "<dt><a href='" + actor.url + "'><img src='" + actor.image.url + "' /></a>" 
                            + "<a href='" + actor.url + "' class=\"author\">" + actor.displayName + "</a>" 
                            + " <span class=\"date\">" + date + "</span>" + "</dt>" + 
                            "<dd>" + commentBody + "</dd>";
                 
                    }

                    var gPosturl;
                    var gPosttitle;

                    var urltoajax = 'https://www.googleapis.com/plus/v1/activities/' + '{{ page.googleplus }}' + '?fields=title%2Curl&key=' + apiKey;

                    $.ajax({
                          dataType: "json",
                          async: false,
                          url: urltoajax,
                          success: function( data ) {
                            gPosturl = data.url;
                            gPosttitle = data.title;
                          }
                    });

                    insertionElement.innerHTML = "<h4 class=\"comments_title\">" + ComCount + " комментариев в Google+</h4>" 
                    + "<dl class=\"comments_list\">" + newContents + 
                        "</dl> <p class='g-commentlink'>Оставьте комментарй Google+ <a href='" + 
                        gPosturl + "'>" + gPosttitle + "</a></p>"; 
                    
            }
            document.addEventListener("DOMContentLoaded", commentr.go, false);
        </script>
        {% endif %}
    </footer>
</section>
<!-- /post -->