<!-- post -->
<section class="post">
    <header>
        <h1><a href="">{{ page.title }}</a></h1>
        {% if page.meta.type|length %}
        <span class="date">Опубликованно 2013-05-19</span>
        {% endif %}
    </header>
    <article>
       {{ page.html|safe }}
    </article>
    <footer>
        <div class="tags">
            {% if page.meta.tags|length %}
                метки:
                {% for page_tag in page.meta.tags %}
                    <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </footer>
</section>
<!-- /post -->