{% extends "base.html" %}

{% block title %}Записи с тэгом {{ tag }} - {% endblock title %}

{% block header %}
<!-- header -->
<header>
    <div class="portrait">
        <a href="{{ url_for("index") }}"><img src="https://lh5.googleusercontent.com/-Igz9tgs1bEY/Ubc6Ds9KGuI/AAAAAAAABRY/If3zf-cwMXM/s296-no/jpeg.jpeg" alt=""></a>
    </div>
    <div class="title">
        <h2><a href="{{ url_for("index") }}">Блог Михаила Якименко</a></h2>
        <!-- <h3>Веб-разработчик: ux, ui, html/css, python/django(junior). Увлекаюсь IT и блогами.</h3> -->
        <ul>
            <li><a href="{{ url_for("page", path="page/about") }}">Обо мне</a></li>
            <li><a href="{{ url_for("page", path="archive") }}">Архив</a></li>
            <li><a href="{{ url_for("page", path="feed") }}">RSS</a></li>
        </ul>
    </div>
</header>
<!-- /header -->
{% endblock header %}

{% block content %}
<!-- posts_list -->
<section class="posts_list">
{% for year in years %}
    <h3>Архив {{ year }}</h3>
    <ul>
        {% for page in pages %}
        {% if page.date.year == year %}
        <li>
            <span class="date">{{ page.date }}</span>
            <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
            <div class="tags">метки: 
            {% if page.meta.tags|length %}
                {% for page_tag in page.meta.tags %}
                <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
</section>
<!-- /posts_list -->
{% endblock content %}