<!DOCTYPE html>
<html lang="ru-RU">
<head>
<title>{% block title %}{% endblock title %}Блог Михаила Якименко</title>
<meta charset="UTF-8" />
<meta name="author" content="Михаил Якименко" />
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/static/js/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/func.js" type="text/javascript" charset="utf-8"></script>

<!-- Render -->

<link rel=stylesheet type=text/css href="/static/css/style.css">

</head>
<body>

<!-- For Ukraine freedom! For Eropean PEOPLE! -->
<a href="http://stfalcon.github.io/euromaidan/" class="em-ribbon" style="position: absolute; left:0; top:0; width: 90px; height: 90px; background: url('http://stfalcon.github.io/euromaidan/img/em-ribbon.png'); z-index: 2013; border: 0;"></a>

{% block header %}
{% endblock header %}

{% block content %}
{% endblock content %}

<!-- footer -->
<footer>
    <span class="copyrights">2010–2013 Михаил Якименко (<a href="/page/about/">Обо мне и блоге</a>)</span>
</footer>
<!-- /footer -->

</body>
</html>