{% extends "base.html" %}

{% block header %}
<!-- header -->
<header>
    <div class="portrait">
        <img src="https://lh5.googleusercontent.com/-Igz9tgs1bEY/Ubc6Ds9KGuI/AAAAAAAABRY/If3zf-cwMXM/s296-no/jpeg.jpeg" alt="">
    </div>
    <div class="title">
        <h2>Блоґ Михайла Якименка</h2>
        <!-- <h3>тут можливо щось колись буде.</h3> -->
        {% include "_menu.html" %}
    </div>
</header>
<!-- /header -->
{% endblock header %}

{% block content %}
{% with pages=pages  %}
    {% include "_list.html" %}
{% endwith %}
{% endblock content %}