{% extends "base.html" %}

{% block title %}{{ page.title }} - {% endblock title %}

{% block header %}
<!-- header -->
<header>
    <div class="portrait">
        <a href="{{ url_for("index") }}"><img src="https://lh5.googleusercontent.com/-Igz9tgs1bEY/Ubc6Ds9KGuI/AAAAAAAABRY/If3zf-cwMXM/s296-no/jpeg.jpeg" alt=""></a>
    </div>
    <div class="title">
        <h2><a href="{{ url_for("index") }}">Блоґ Михайла Якименка</a></h2>
        <!-- <h3>тут можливо щось колись буде.</h3> -->
        {% include "_menu.html" %}
    </div>
</header>
<!-- /header -->
{% endblock header %}

{% block content %}
{% with page=page  %}
    {% include "_page.html" %}
{% endwith %}
{% endblock content %}