{% extends "base.html" %}

{% block title %}{{ page.title }} - {% endblock title %}

{% block content %}
<!-- post -->
<section class="post">
    <header>
        <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
        <div class="meta">
            <i class="fa fa-clock-o"></i> {{ page.date }}
            <i class="fa fa-comments"></i> <a href="{{ url_for("page", path=page.path) }}#disqus_thread"></a>
            {% if page.meta.tags|length %}
                <i class="fa fa-tags"></i> 
                {% for page_tag in page.meta.tags %}
                    <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </header>
    <article>
       {{ page.html|safe }}
    </article>
    <footer>
        <div class="social">
            <div class="social-likes" data-url="http://macgera.name{{ url_for("page", path=page.path) }}" data-title="Блог Михаила Якименко">
                <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                <div class="twitter" data-via="macgera" title="Поделиться ссылкой в Твиттере">Twitter</div>
                <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
        </div>
        <div class="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'macgeraname'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </footer>
</section>
<!-- /post -->
{% endblock content %}