@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?88046678');
  src: url('../font/icons.eot?88046678#iefix') format('embedded-opentype'),
       url('../font/icons.woff?88046678') format('woff'),
       url('../font/icons.ttf?88046678') format('truetype'),
       url('../font/icons.svg?88046678#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-chat-empty:before { content: '\78'; } /* 'x' */
.icon-github-circled:before { content: '\68'; } /* 'h' */
.icon-linkedin:before { content: '\6a'; } /* 'j' */
.icon-stackoverflow:before { content: '\6b'; } /* 'k' */
.icon-twitter:before { content: '\73'; } /* 's' */
.icon-gplus:before { content: '\64'; } /* 'd' */
.icon-youtube-play:before { content: '\7a'; } /* 'z' */
.icon-flickr:before { content: '\66'; } /* 'f' */
.icon-facebook:before { content: '\61'; } /* 'a' */
.icon-instagram:before { content: '\67'; } /* 'g' */
.icon-vkontakte:before { content: '\6c'; } /* 'l' */