body{font:150%/160% Georgia,serif;padding:0;margin:0;color:#303030;background:#ecf0f1}
h1,h2,h3,h4,h5{font-weight:normal;line-height:1}
a{color:#2980b9;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;transition-timing-function:ease;}
a:hover{text-decoration:none}
img{max-width:100%;display:block;text-align:center;margin:auto}
.if{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.if iframe,.if object,.if embed{position:absolute;top:0;left:0;width:100%;height:100%}
.tweet{margin:1em 0;}
.tweet iframe{margin:auto !important}
.icon{font-family:icons;text-decoration:none}
body > header{margin:1em 10% 1em 10%;text-align:center;}
body > header .portrait{width:8%;margin:auto;}
body > header .portrait img{max-width:100%;border-radius:100%;border:3px solid #fff}
body > header h2{font-size:1.4em;margin-top:0;margin-bottom:0;position:relative;}
body > header h2 a{color:#303030;text-decoration:none;}
body > header h2 a:hover{text-decoration:underline}
body > header h3{font-size:1em;margin-top:0;margin-bottom:0}
body > header ul{margin:0;padding:0;}
body > header ul li{display:inline-block;vertical-align:middle;padding:0;margin-left:-.3em;}
body > header ul li:after{content:'\272A';margin:0 .4em;display:inline-block;vertical-align:middle;font-size:.7em;color:#c2c2c2}
body > header ul li:nth-last-child(1):after{content:none}
body > header ul li a{font-size:.8em}
ul.social li{margin-right:.5em;}
ul.social li:nth-last-child(1){margin-right:0}
ul.social li:after{content:none}
ul.social li a.icon{display:inline-block;vertical-align:middle;-moz-box-sizing:border-box;box-sizing:border-box;width:1.4em;height:1.4em;line-height:1;padding:.2em;color:#a3a3a3;text-shadow:1px 1px 2px #fff;border-radius:.2em;}
ul.social li a.icon:hover{color:#000}
body > footer{margin:1em 20% 1em 20%;text-align:center;}
body > footer .icon{font-size:.8em}
.pagination{padding:.5em 20% 0 20%;text-align:center;}
.pagination ul{padding:0;margin-bottom:0;}
.pagination ul li{display:inline-block;margin:0 auto;width:1.5em;height:1.5em;background:#fff;border-radius:.2em;}
.pagination ul li a{display:block;width:1.5em;height:1.5em;border-radius:.2em;text-decoration:none;}
.pagination ul li a:hover{background:#2980b9;color:#fff;text-decoration:none}
.meta{font-size:.7em;font-style:italic;color:#808080;}
.meta a{color:#808080}
.copyrights{font-size:.7em;font-style:italic;}
.copyrights:before{content:"\00a9";margin-right:.5em}
.posts_list{margin:0 20% 2em 20%;background:#fff;border-radius:.4em;text-align:center;}
.posts_list h3{padding-top:.5em;margin-bottom:0}
.posts_list ul{padding:0;margin-top:.5em;}
.posts_list ul li{-moz-box-sizing:border-box;box-sizing:border-box;padding:.1em;list-style:none;border-bottom:1px solid rgba(63,11,11,0.1);}
.posts_list ul li:nth-child(1){border-top:1px solid rgba(63,11,11,0.1)}
.posts_list ul li:nth-last-child(1){border-bottom:none}
.posts_list ul li .date{color:#9b9b9b}
.posts_list ul li .tags{font-size:.6em}
.posts_list ul li h1{font-size:1em;margin:0;}
.posts_list ul li h1 a{text-decoration:none}
.posts .post{margin-bottom:1em;border-bottom:1px solid rgba(117,117,117,0.4);}
.posts .post:nth-last-child(1){margin-bottom:0}
.post{-moz-box-sizing:border-box;box-sizing:border-box;margin:0 10% 0 10%;padding:1.2em;background:#fff;border-radius:.2em;border-bottom:1px solid rgba(117,117,117,0.4);}
.post header{text-align:center;}
.post header h1{font-size:1.4em;margin:0;}
.post header h1 a{color:#303030;text-decoration:none;}
.post header h1 a:hover{color:#2980b9;text-decoration:underline;background:none}
.post article h2,.post article h3,.post article h4,.post article h5{color:#358340;text-align:center}
.post article table{width:100%;margin:auto;margin-bottom:1em;}
.post article table tr th{font-weight:bold}
.post article table tr th,.post article table tr td{text-align:center;vertical-align:middle;padding:.2em;margin:0;background:#ecf0f1}
.post article table tr:hover td{background:#d5d5d5}
.post article blockquote{margin-left:0;margin-right:0;padding:.3em 2em;background:#ecf0f1;border-bottom:1px solid rgba(63,11,11,0.1);border-top:1px solid rgba(63,11,11,0.1)}
.post article figure{margin-left:0;margin-right:0;}
.post article figure figcaption{margin-top:1em}
.post footer .social{margin-bottom:1em;text-align:center}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){body{font-size:260%}
body > header{padding:.5em 5% 1em 5%;}
body > header .portrait{width:20%}
body > footer{padding:.5em 5% 1em 5%}
.post{-moz-box-sizing:border-box;box-sizing:border-box;margin:0 2% 0 2%;}
.post article{font-size:1.2em}
.pagination{padding:.5em 5% .5em 5%}
}@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){body{font-size:150%}
body > header{padding:.5em 10% 1em 10%;}
body > header .portrait{width:20%}
body > footer{padding:.5em 10% 1em 10%}
.post{-moz-box-sizing:border-box;box-sizing:border-box;margin:0 6% 0 6%}
.pagination{padding:.5em 10% .5em 10%}
}