body {
  font: 150%/160% Georgia, serif;
  padding: 0;
  margin: 0;
  background: url("../images/wavegrid.png");
  text-shadow: 1px 1px 3px #fff;
  color: #303030;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: 1;
}
a {
  color: #1783b6;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
}
a:hover {
  background: #1783b6;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}
.if iframe,
.if object,
.if embed {
/*position: absolute;*/
  max-width: 100%;
}
body > header {
  padding: 0.5em 20% 1em 20%;
  margin-bottom: 2em;
  border-bottom: 1px dashed rgba(63,11,11,0.3);
  text-align: center;
}
body > header h2 {
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0;
}
body > header h2 a {
  color: #303030;
  text-decoration: none;
}
body > header h2 a:hover {
  color: #1783b6;
  text-decoration: underline;
  background: none;
}
body > header h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0;
}
body > footer {
  padding: 0.5em 20% 1em 20%;
  text-align: center;
  border-top: 1px dashed rgba(63,11,11,0.3);
}
.pagination {
  padding: 0.5em 20% 0.5em 20%;
  text-align: center;
  border-top: 1px dashed rgba(63,11,11,0.3);
}
.pagination ul {
  padding: 0;
}
.pagination ul li {
  display: inline-block;
  margin: 0 auto;
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 0.5em;
}
.pagination ul li a {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-decoration: none;
}
.tags,
.date,
.meta_text {
  font-size: 0.7em;
  font-style: italic;
}
.copyrights {
  font-size: 0.7em;
  font-style: italic;
}
.copyrights:before {
  content: "\00a9";
  margin-right: 0.5em;
}
.posts_list {
  padding: 0 20% 2em 20%;
  text-align: center;
}
.posts_list ul {
  padding: 0;
}
.posts_list ul li {
  list-style: none;
}
.posts_list ul li h1,
.posts_list ul li .date {
  display: inline-block;
}
.posts_list ul li h1 {
  font-size: 1em;
  margin: 0;
}
.posts_list ul li h1 a {
  text-decoration: none;
}
.posts .post {
  margin-bottom: 2em;
  border-bottom: 1px dashed rgba(63,11,11,0.3);
}
.posts .post:last-child {
  border-bottom: none;
  margin-bottom: 0em;
}
.post {
  padding: 0 20% 2em 20%;
}
.post header {
  text-align: center;
}
.post header h1 {
  font-size: 2em;
  margin-bottom: 0.2em;
}
.post header h1 a {
  color: #303030;
  text-decoration: none;
}
.post header h1 a:hover {
  color: #1783b6;
  text-decoration: underline;
  background: none;
}
.post article h2,
.post article h3,
.post article h4,
.post article h5 {
  color: #358340;
  text-align: center;
}
.post article table {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}
.post article table tr th {
  font-weight: bold;
}
.post article table tr th,
.post article table tr td {
  text-align: center;
  vertical-align: middle;
  padding: 0.2em;
  margin: 0;
  background: #dfdfdf;
}
.post article table tr:hover td {
  background: #d5d5d5;
}
.post article blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.3em 2em;
  background: rgba(255,255,255,0.4);
  border-bottom: 1px dashed rgba(63,11,11,0.3);
  border-top: 1px dashed rgba(63,11,11,0.3);
}
.post footer .tags {
  text-align: center;
}
.post footer h4.comments_title {
  margin-top: 1em;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #808080;
  border-bottom: 1px dashed rgba(63,11,11,0.3);
}
.post footer dl.comments_list {
  text-align: left;
  margin-top: 0;
}
.post footer dl.comments_list dt,
.post footer dl.comments_list dd {
  padding: 0;
  margin: 0;
}
.post footer dl.comments_list dt {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}
.post footer dl.comments_list dt:nth-child(1) {
  margin-top: 0;
}
.post footer dl.comments_list dt a {
  display: inline-block;
  vertical-align: middle;
}
.post footer dl.comments_list dt a.author {
  margin-left: 0.4em;
}
.post footer dl.comments_list dt a img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 100%;
}
.post footer dl.comments_list dt .date {
  display: inline-block;
  vertical-align: middle;
}
.post footer dl.comments_list dd {
  border-bottom: 1px dashed rgba(63,11,11,0.3);
  padding-bottom: 0.5em;
}
.post footer .g-commentlink {
  font-size: 0.7em;
  font-style: italic;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-size: 200%;
  }
  body > header {
    padding: 0.5em 5% 1em 5%;
  }
  body > footer {
    padding: 0.5em 5% 1em 5%;
  }
  .post {
    padding: 0 5% 2em 5%;
  }
  .pagination {
    padding: 0.5em 5% 0.5em 5%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    font-size: 150%;
  }
  body > header {
    padding: 0.5em 10% 1em 10%;
  }
  body > footer {
    padding: 0.5em 10% 1em 10%;
  }
  .post {
    padding: 0 10% 2em 10%;
  }
  .pagination {
    padding: 0.5em 10% 0.5em 10%;
  }
}
