
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-twitter:before { content: '\64'; } /* 'd' */
.icon-stackoverflow:before { content: '\73'; } /* 's' */
.icon-linkedin:before { content: '\61'; } /* 'a' */
.icon-instagram:before { content: '\5c'; } /* '\' */
.icon-facebook:before { content: '\70'; } /* 'p' */
.icon-github:before { content: '\5b'; } /* '[' */
.icon-googleplus:before { content: '\5d'; } /* ']' */
.icon-tags:before { content: '\72'; } /* 'r' */
.icon-github-circled:before { content: '\79'; } /* 'y' */
.icon-github-1:before { content: '\74'; } /* 't' */
.icon-twitter-circled:before { content: '\75'; } /* 'u' */
.icon-gplus-circled:before { content: '\69'; } /* 'i' */
.icon-linkedin-1:before { content: '\6f'; } /* 'o' */
.icon-smashing:before { content: '\65'; } /* 'e' */
.icon-mic:before { content: '\77'; } /* 'w' */
.icon-user-1:before { content: '\66'; } /* 'f' */
.icon-camera:before { content: '\71'; } /* 'q' */